.txs-item
	border 2px solid #d1d1d1
	border-radius 10px
	padding 5px
	margin 10px

div.txs-item-field
	background-color #294550
	color base-primary

.paper
	padding 5px

div.income, div.loss
	color #fff
	text-align center

div.income
	background-color #81c784

div.loss
	background-color #ee5555