*, ::after, ::before
	box-sizing border-box

body
	background-color main-backgrond

.content
	max-width 1300px
	display flex
	flex-direction column
	padding 15px
	align-items center
	justify-content center
	color base-primary
	font-family roboto, sans-serif
	font-size 17px
	margin 0 auto

.card-body
	background-color base-backgound
	width 100%
	border 1px solid bd-color
	padding 15px
